<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ali.utilities.extentreports.TestListeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/alios/IdeaProjects/ali-testng-framework">
        <classes>
            <class name="com.ali.tests.smoketest.UiTesting"></class>
            <class name="com.ali.tests.smoketest.GoogleSearch"></class>
            <class name="com.ali.tests.smoketest.ApiTesting"></class>
<!--            <class name="com.ali.tests.smoketest.TestClassUsingListeners"></class>-->
        </classes>
    </test>
</suite>